<h5 class="mb-3">Danh sách hàng hóa cần giao trong thời gian</h5>
<div class="row mb-3">
    Từ:
    <input type="date" class="col-4 form-control mx-2" [(ngModel)]="dateFrom"/>
    Đến:
    <input type="date" class="col-4 form-control mx-2" [(ngModel)]="dateTo"/>
</div>
<div class="row">
    <button class="col-2 btn btn-primary form-control mr-3" (click)="onShowTable()">Xem table</button>
    <button class="col-2 btn btn-primary form-control" (click)="onShowChart()">Xem Bar Chart</button>
</div>

<!-- table -->
<table *ngIf="isTable" class="table table-striped mt-10">
    <thead>
        <tr>
            <th>Ngày </th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item.orderDate | date : format : shortDate}}</td>
            <td>{{item.soLuong}}</td>
        </tr>
    </tbody>
</table>

<!-- bar chart -->
<div *ngIf="!isTable" id="barchart_values" style="width: 900px; height: 300px;">

</div>