<h3>Doanh thu quoc gia</h3>
<div class="row">
  <input class="col col-2 form-control mr-3" type="number" name="month" id="month" placeholder="Nhap thang"
     [(ngModel)]="month">
  <input class="col col-2 form-control mr-3" type="number" name="year" id="year" placeholder="Nhap nam"
    [(ngModel)]="year">
  <button class="col col-3 btn btn-primary form-control mr-3" (click)="onShowTable()">Xem table</button>
  <button class="col col-3 btn btn-primary form-control" (click)="onShowChart()">Xem Pie Chart</button>
</div>

<!-- table -->
<table *ngIf="isTable" class="table table-striped mt-10">
  <thead>
    <tr>
      <th>Country</th>
      <th>DoanhThu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lstDoanhThu">
      <td>{{item.country}}</td>
      <td>{{item.doanhThu}}</td>
    </tr>
  </tbody>
</table>

<!-- pie chart -->
<div *ngIf="!isTable" id="piechart" style="width: 900px; height: 500px;">
</div>